/* Estilização 'base' do projeto em dimensões entre 768 e 991px.*/

@media (min-width: 768px) and (max-width:991px){
    /* GERAL */
*{
    margin: 0;
    font-family: "Poppins", sans-serif;
}

body {
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
    width: 100%;
}

.interface{
    max-width:  100%;
}

/* HEADER */
header {
    padding: 20px 4%;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    background: #f4f4f4;
    position: fixed;
    width: 100%;
    top: 0;
}
   
header > .interface{
    display: flex;
    align-items: center;
}

header a{
    color: black;
    font-weight: 600;
}

header nav ul{
    display: flex;
    list-style-type: none;
    align-items: center;
}

header nav ul li{
    padding: 0 40px;
}

#logoccr25{
    height: 50px;
}

#referencias_paginas {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: black;
}


/*QUADROS*/
table {
    border-collapse: collapse;
    width: 80%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    margin-bottom: 30px;
}

th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}

th {
    background-color: #ccc;
    color: black;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

main {
    padding-top: 150px;
    padding-bottom: 50px;
    width: 100%;
    align-items: center;
    padding-left: 10%;
}
}